* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTES */

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 700;
  font-style: italic;
}

.bg-custom {
  background-color: #007a2d;
}

.tituloOrsai {
  text-decoration: none;
  color: white;
}

.tituloOrsai:hover {
  color: #26c962;
}

.tituloHistoriales {
  text-decoration: none;
  color: white;
}

.tituloHistoriales:hover {
  color: #26c962;
}

body {
  background-color: #1c800f;
}

.equipo {
  cursor: pointer;
}

#widgetLiga {
  height: 300px;
  background-color: white;
}

.wg_loader {
  height: 300px;
  background-color: white;
}
